/* 


.counter{
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    background-color: darkgreen;
    width: 800px;
    height: 400px;
    margin: auto;
    justify-content: space-around;
   
    flex-direction:row;
}
.counter .first{
    border: 1px solid black;
    
    margin: 50px;
   
    width: 100px;
    height: 100px;
}
.counter .first:first-child{
    background-color: rgb(165, 116, 42);
}
.counter .first:last-child{
    background-color: rgb(17, 11, 63);
} 

.counter .first:nth-child(even){
    background-color: rgb(139, 15, 15);
}
.counter .first:nth-child(odd){
    background-color: rgb(94, 15, 139);
}

.counter .first:nth-child(even):hover{
    background-color: rgb(175, 129, 129);
}

.counter .first1{
    flex-grow: 2;
    background-color: blanchedalmond;
} */



.second{
    left: 50px;
    top: 80px;
    position: relative;
    background-color: yellow;
    width: 800px;
    height: 400px;
}


.second .seconds{
    position: absolute;
    left: 200px;
    right: 70px ;
    top: 150px;
    background-color: rgb(132, 0, 255);
    width: 100px;
    flex: 1;
    height: 50px;
}